// table {
//   @extend .table;

//   margin: 3rem 0;
// }

table {
  @extend .table;
  margin: 3rem 0;

  overflow: auto;
  display: block;

  border-spacing: 0;
  border-collapse: collapse;

  margin-top: $padding-24;
  margin-bottom: $padding-32;

//  max-width: 100%;
//  box-shadow: 2px 2px 3px rgba(0,0,0,.125);

  tr th,
  tr td {
    padding: $padding-8 $padding-16;
    border: $padding-1 solid $border-color;
  }

  tr th {
    background: $gray-100;
  }
}

.imageList {
  height: 158px;
  perspective: 2000px;

  ul {    
    overflow: hidden;
  }
    
  ul li {
    width: 200px;
    height: 100%;
    padding: 2px 2px;

    position: fixed;

    // li显示在一行
    display: inline-block;

    // 去除小黑点
    // overflow: hidden;

    // 四个角圆润
    // border-radius: 5px;
  }
}